<footer>
    <div class="rus1">
        <div class="rus2">
            <div class="rus3">
                <div class="telegram">+7-8352-20-12-09, telegram</div>
                <div class="copyrights">Мой Силант 2024 (c)</div>
            </div>
        </div>
    </div>
    {% comment 'Comment' %}<div class="footer-left"><div><a href="{% url 'welcome' %}" download>Скачать страницу Welcome</a></div></div>{% endcomment %}
    <div class="footer-center">
        <div>
            <a href="/webservice/comments">Comments</a>
        </div>
    </div>
    <div class="footer-right">
        <div>
            <a href="/webservice/todo" style="color: #aaaaaa">ToDo</a>
        </div>
    </div>
    <div>
        <a href="/webservice/rules/">Как пользоваться сервисом</a>
    </div>


</footer>
