{% load static %}

<header>
    <a href="https://chzsa.ru/" target="_blank">
        <img class="logo1" src="{% static 'img/chzsa_logo.JPG' %}"
             alt="ChZSA logo" title="Челябинский завод силовых агрегатов (перейти на сайт)">
    </a>

    <a href="https://silant.com/" target="_blank">
        {% comment "Comment" %}style="width: 100%; height: 100%; object-fit: contain;"{%  endcomment %}
        <img class="logo2" src="{% static 'img/silant.JPG' %}"
             alt="Silant logo" title="Торговая марка 'Силант' (перейти на сайт)">
    </a>

    <div class="header-add">

         {% comment "Comment" %}<div class="user-id"><h3>UserID: {{ user.id }}</h3></div>{% endcomment %}
        <div class="page-load">Загружено <script type="text/javascript">document.write(Date())</script></div>
        <div class="about-service"><h4>Электронная сервисная книжка "Мой Силант"</h4></div>
        <div class="clock" id="id_clock"><script>digitalClock()</script></div>
         {% if user.id == None %}
            <div class="login"><a href="{% url 'login' %}">Войти</a></div>
        {% else %}
            <div class="logout"><a href="{% url 'logout' %}" title="Выйти из {{ user.username }}">Выйти</a></div>
        {% endif %}

    </div>
</header>
