{% load static %}

<navigator>
    <div>
        <a class="admin-link" href="/admin" target="_blank" title="Переход в админку (на время отладки)">Admin</a>
    </div>
    <div>
        <a class="machines_list" href="{% url 'machines_list'  %}" title="Список машин">Машины</a>
    </div>
    <div>
        <a class="maintenances_list" href="{% url 'maintenances_list'  %}" title="Список ТО">Проведенные ТО</a>
    </div>
    <div>
        <a class="welcome-link" style="color:#0000ff" href="{% url 'welcome' %}">Welcome</a>
    </div>
    {% comment 'Comment' %}<div>
        <a style="color:#0000ff" href="/webservice/main">Main page</a>
    </div>{% endcomment %}
    <div>
        <a style="color:#cc99cc" href="/webservice/report" title="Модели Django не итерируются...">Save Excel (unwork)</a>
    </div>
     <div>
        <a style="color:#ff0000" href="/webservice/xl_test">XL_test</a>
    </div>
</navigator>
