{% load static %}

<navigator>

    <div>
        <a class="welcome-link" style="color:#0000ff" href="{% url 'welcome' %}">Начальная страница</a>
    </div>
    <div>
        <a class="machines_list" href="{% url 'machines_list'  %}" title="Список машин">Машины</a>
    </div>
    <div>
        <a class="maintenances_list" href="{% url 'maintenances_list'  %}" title="Список ТО">Проведенные ТО</a>
    </div>
    <div>
        <a class="claims_list" href="{% url 'claims_list'  %}" title="Список ремонтов">Ремонты</a>
    </div>
    <div>
        <a style="color:#009900" href="/webservice/report" title="Заработало!">Сохранить отчет (xlsx)</a>
    </div>
    {% comment 'Comment' %}<div>
        <a style="color:#0000ff" href="/webservice/main">Main page</a>
    </div>{% endcomment %}
    <div>
        <a href="/webservice/rules/">Как пользоваться сервисом</a>
    </div>
    <div>
        <a class="admin-link" href="/admin" target="_blank" title="Переход в админку (на время отладки)">Admin</a>
    </div>

</navigator>
