{% extends 'base/default.html' %}
{% load static %}

{% comment 'Comment' %}{% load custom_filters %}
{% load custom_tags %}{% endcomment %}

{% block title %}
    DriveBridge #{{ drivebridge.id }}
{% endblock title %}

{% block content %}
<h3>Данные по ведущему мосту №{{ drivebridge.id }}</h3>
    <table>
        <tr>
            <th>DriveBridge Id</th>
            <th>DriveBridge model</th>
            <th>Creation date</th>
            <th>Last edit date</th>
            <th>Description</th>
            <th>Work history</th>
            <th>Is active</th>
        </tr>
        <tr>
            <td>{{ drivebridge.id }}</td>
            <td>{{ drivebridge.name }}</td>
            <td>{{ drivebridge.creation_date|date:'Y-m-d / H:i:s' }}</td>
            <td>{{ drivebridge.last_edit_date|date:'Y-m-d / H:i:s' }}</td>
            <td>{{ drivebridge.description }}</td>
            <td>{{ drivebridge.work_history }}</td>
            <td>{{ drivebridge.is_active }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <a href="{% url 'machines_list' %}" style="color: #0055ff">К списку машин</a>
    <br>
    <p style="color:#ff0000">End template machine.html</p>

{% endblock content %}
