{% extends 'base/default.html' %}
{% load static %}

{% comment 'Comment' %}{% load custom_filters %}
{% load custom_tags %}{% endcomment %}

{% block title %}
    Машина #{{ machine.id }}
{% endblock title %}

{% block content %}
    <p style="color:#ff0000">Begin template machine.html</p>
    {% if machine.end_user.id == user.id %}
        It's your machine!
    {% else %}
        <p style="color: #ff0000">Not your machine.</p>
    {% endif %}
<h3>Данные по машине №{{ machine.id }}</h3><br>
    <table style="background-color: #cccccc; color: #000000; text-align: center;">
        <tbody>
        <tr>
            <th>Id</th>
            <th>Модель</th>
            <th>Заводской номер</th>
            <th>Модель двигателя</th>
            <th>Номер двигателя</th>
            <th>Модель трансмиссии</th>
            <th>Номер трансмиссии</th>
            <th>Модель ведущего моста</th>
            <th>Номер ведущего моста</th>
            <th>Модель управляемого моста</th>
            <th>Номер управляемого моста</th>
            <th>Комплектация</th>
            <th>Дата выпуска</th>
            <tmp>Последнее изменение</tmp>
            <th>Дата отгрузки</th>
            <tmp>Последний просмотр</tmp>
            <th>В работе</th>
            <tmp>История работы</tmp>
            <th>№ договора поставки</th>
            <th>Грузополучатель</th>
            <tmp>Адрес поставки</tmp>
            <th>Клиент</th>
            <th>Сервисная компания</th>
            <th>Действия</th>
        </tr>
        <tr>
            <td>{{ machine.id }}</td>
            <td>{{ machine.machine_number }}</td>
            <td>{{ machine.machine_model.name }}</td>
            <td>{{ machine.engine_model.name }}</td>
            <td>{{ machine.engine_number }}</td>
            <td>{{ machine.transmission_model.name }}</td>
            <td>{{ machine.transmission_number }}</td>
            <td>{{ machine.drive_bridge_model.name }}</td>
            <td>{{ machine.drive_bridge_number }}</td>
            <td>{{ machine.controlled_bridge_model.name }}</td>
            <td>{{ machine.controlled_bridge_number }}</td>
            <td>{{ machine.package_contents }}</td>
            <td>{{ machine.creation_date|date:'Y-m-d / H:i:s' }}</td>
            <tmp>{{ machine.last_edit_date|date:'Y-m-d / H:i:s' }}</tmp>
            <td>{{ machine.shipment_date|date:'Y-m-d / H:i:s' }}</td>
            <tmp>N/A</tmp>
            <td>{{ machine.is_active }}</td>
            <tmp>{{ machine.work_history }}</tmp>
            <td>{{ machine.info_about_delivery_agreement }}</td>
            <td>{{ machine.end_user.name }}</td>
            <tmp>{{ machine.end_user_address }}</tmp>
            <td>{{ machine.client.name }}</td>
            <td>{{ machine.service_company.name }}</td>
            <td>{% if perms.machine.edit_machine %}
                    <a style="color: #00aa00" href="{{ machine.id }}/edit/">Edit</a>
                {% else %}<p style="color: #ff0000">Edit</p>
                {% endif %}
                {% if perms.webservice.view_maintenance and machine.end_user.id != user.machine.id %}
                    <a style="color: #ff00ff" href="/webservice/maintenance/view/">View maintenance</a>
                {% else %}<p style="color: #ff0000">View maintenance</p>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <table style="background-color: #bbbbbb">
        <tr>
            <td style="color: #000000" align="left" valign="top">Machine work history: "{{ machine.work_history }}"</td>
        </tr>
    </table>

    <a href="{% url 'machines_list' %}" style="color: #0055ff">К списку машин</a>
    <br>
    <p style="color:#ff0000">End template machine.html</p>

{% endblock content %}
