{% extends 'base/default.html' %}
{% load static %}

{% comment 'Comment' %}{% load custom_filters %}
{% load custom_tags %}{% endcomment %}

{% block title %}
    Machines (вкладка в браузере)
{% endblock title %}

{% block content %}
<p style="color:#ff0000">Begin template machines.html</p>
<h3>Описание всех машин (найдено: {{ machines|length }})</h3><br>
<a href="{% static 'test_output.xlsx' %}" style="color: #bbbbbb">Скачать пробный файл Excel</a>
{% comment "filter" %}{% endcomment %}
    <form action="" method="get">
        {% csrf_token %}
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

<br>
{% if user.is_active %}
    {% if machines %}
        <table>
            <tr>
                <th>Id</th>
                <th>Serial number</th>
                <th>Model</th>
                <th>Creation date</th>
                <th>Engine</th>
                <th>Transmission</th>
                <th>Drive bridge</th>
                <th>Controlled bridge</th>
                <th>Package contents</th>
                <th>Delivery agreement</th>
                <th>Shipment date</th>
                <th>End user</th>
                <th>End user address</th>
                <th>Client</th>
                <th>Service company</th>
                <th>Work history</th>
                <th>Is active</th>
                <th>Actions</th>
            </tr>
            {% for machine in machines %}
            <tr>
                <td>{{ machine.id }}</td>
                <td><a href="machine/{{ machine.id }}">{{ machine.machine_number }}</a></td>
                <td><a href="machinemodel/{{ machine.machine_model.id }}" title="Показать данные конкретной модели">{{ machine.machine_model.name }}</a></td>
                <td>{{ machine.creation_date|date:'Y-m-d / H:i:s' }}</td>
                <td><a href="enginemodel/{{ machine.engine_model.id }}" title="Показать данные конкретной модели">{{ machine.engine_model.name }}</a></td>
                <td><a href="transmissionmodel/{{ machine.transmission_model.id }}" title="Показать данные конкретной модели">{{ machine.transmission_model.name }}</a></td>
                <td title="DriveBridgeModel/{{ machine.drive_bridge_number }}">{{ machine.drive_bridge_model.name }}</td>
                <td title="ControlledBridgeModel/{{ machine.controlled_bridge_number }}">{{ machine.controlled_bridge_model.name }}</td>
                <td>{{ machine.package_contents }}</td>
                <td>{{ machine.info_about_delivery_agreement }}</td>
                <td>{{ machine.shipment_date|date:'Y-m-d / H:i:s' }}</td>
                <td title="EndUsers/{{ machine.end_user.id }}">{{ machine.end_user.name }}</td>
                <td>{{ machine.end_user_address }}</td>
                <td title="Clients/{{ machine.client.id }}">{{ machine.client.name }}</td>
                <td title="ServiceCompanies/{{ machine.service_company.id }}">{{ machine.service_company.name }}</td>
                <td><iframe src="{% static 'work_history.py' %}" class="frame1">Work_history</iframe></td>
                <td>{{ machine.is_active }}</td>
                <td><a style="color: #00ff00" href="machine/{{ machine.id }}">View</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td><a href="{% url 'machinemodels' %}" title="Показать все модели">All</a></td>
                <td></td>
                <td><a href="{% url 'enginemodels' %}" title="Показать все модели">All</a></td>
                <td><a href="{% url 'transmissionmodels' %}" title="Показать все модели">All</a></td>
                <td><a href="{% url 'drivebridgemodels' %}" title="Показать все модели">All</a></td>
                <td>All</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>All</td>
                <td>All</td>
                <td>All</td>
                <td>All</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>
    {% else %}
        <h2>Пока нет машин.</h2>
    {% endif %}
{% else %}
Страница доступна только авторизованным пользователям (хотя, в view вроде прописан permission (проверить!))
{% endif %}

{% comment 'Comment' %}
{# страничительство #}
{% if paginator.num_pages > 1 %}
<h2 style="text-align: center">
    pages<
{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}
{{ page_obj.number }}
{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
></h2>
{% else %}
Без страничительства
{% endif %}
{% endcomment %}

<p style="color:#ff0000">End template machines.html</p>
{% endblock content %}
