{% extends 'base/default.html' %}
{% load static %}

{% comment 'Comment' %}{% load custom_filters %}
{% load custom_tags %}{% endcomment %}


{% block title %}
    Machines (вкладка в браузере)
{% endblock title %}

{% block content %}
<p style="color:#ff0000">Begin template machines.html</p>
<h3>Описание всех машин (найдено: {{ machines|length }})</h3>
{% comment 'Comment' %}{% endcomment %}
<p><a href="{% static 'project_report.xlsx' %}" style="color: #ff00ff">Скачать сводные таблицы (xlsx)</a></p>
<br>

    <form action="" method="get">
        {% csrf_token %}
        {{ filterset.form.as_div }}
        <input type="submit" value="Найти" />
    </form>

<br>
{% comment 'Comment' %}{% if user %}{% endcomment %}
    {% if machines %}
        <table>
            <tr>
                <th>Id</th>
                <th>Заводской номер</th>
                <th>Модель</th>
                <th>Дата выпуска</th>
                <th>Двигатель</th>
                <th>Трансмиссия</th>
                <th>Ведущий мост</th>
                <th>Управляемый мост</th>
                <th>Комплектация</th>
                <th>№ договора поставки</th>
                <th>Дата отгрузки</th>
                <th>Грузо-получатель</th>
                <th>Адрес поставки</th>
                <th>Клиент</th>
                <th>Сервисная компания</th>
                <th>Work history</th>
                <th>В работе</th>
                <tmp>Действия</tmp>
            </tr>
            {% for machine in machines %}
            <tr>
                <td>{{ machine.id }}</td>
                <td><a href="machine/{{ machine.id }}">{{ machine.machine_number }}</a></td>
                <td><a href="machinemodel/{{ machine.machine_model.id }}" title="Показать данные конкретной модели">{{ machine.machine_model.name }}</a></td>
                <td>{{ machine.creation_date|date:'Y-m-d / H:i:s' }}</td>
                <td><a href="enginemodel/{{ machine.engine_model.id }}" title="Показать данные конкретной модели">{{ machine.engine_model.name }}</a></td>
                <td><a href="transmissionmodel/{{ machine.transmission_model.id }}" title="Показать данные конкретной модели">{{ machine.transmission_model.name }}</a></td>
                <td><a href="drivebridgemodel/{{ machine.drive_bridge_model.id }}" title="Показать данные конкретной модели">{{ machine.drive_bridge_model.name }}</a></td>
                <td title="ControlledBridgeModel/{{ machine.controlled_bridge_number }}">{{ machine.controlled_bridge_model.name }}</td>
                <td>{{ machine.package_contents }}</td>
                <td>{{ machine.info_about_delivery_agreement }}</td>
                <td>{{ machine.shipment_date|date:'Y-m-d / H:i:s' }}</td>
                <td title="EndUsers/{{ machine.end_user.id }}">{{ machine.end_user.name }}</td>
                <td>{{ machine.end_user_address }}</td>
                <td title="Clients/{{ machine.client.id }}">{{ machine.client.name }}</td>
                <td title="ServiceCompanies/{{ machine.service_company.id }}">{{ machine.service_company.name }}</td>
                <td><iframe src="{% static 'work_history.py' %}" class="frame1">Work_history</iframe></td>
                <td>{{ machine.is_active }}</td>
                <tmp><a style="color: #00ff00" href="machine/{{ machine.id }}">Просмотр</a></tmp>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td><a href="{% url 'machinemodels' %}" title="Показать все модели">All</a></td>
                <td></td>
                <td><a href="{% url 'enginemodels' %}" title="Показать все модели">All</a></td>
                <td><a href="{% url 'transmissionmodels' %}" title="Показать все модели">All</a></td>
                <td><a href="{% url 'drivebridgemodels' %}" title="Показать все модели">All</a></td>
                <td>All</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>All</td>
                <td>All</td>
                <td>All</td>
                <td>All</td>
                <td>-</td>
                <td>-</td>
                <tmp>-</tmp>
            </tr>
        </table>
    {% else %}
        <h2>Пока нет машин.</h2>
    {% endif %}
{% comment 'Comment' %}{% else %}
Страница доступна только авторизованным пользователям (хотя, в view вроде прописан permission (проверить!))
{% endif %}{% endcomment %}

{% comment 'Comment' %}
{# страничительство #}
{% if paginator.num_pages > 1 %}
<h2 style="text-align: center">
    pages<
{% if page_obj.has_previous %}
    <a href="?{% url_replace page=1 %}">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}
{{ page_obj.number }}
{% if page_obj.has_next %}
    <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
></h2>
{% else %}
Без страничительства
{% endif %}
{% endcomment %}

<p style="color:#ff0000">End template machines.html</p>
{% endblock content %}
