{% extends 'base/default.html' %}
{% load static %}

{% comment 'Comment' %}{% load custom_filters %}
{% load custom_tags %}{% endcomment %}

{% block title %}
    Maintenance #{{ maintenance.id }}
{% endblock title %}

{% block content %}
<h3>Данные по ТО №{{ maintenance.id }}</h3><br>
    <table>
        <tr>
                <th>Id</th>
                <th>Вид ТО</th>
                <th>Дата проведения ТО</th>
                <th>Машина</th>
                <th>Наработка (мото-часы)</th>
                <th>Организация проводившая ТО</th>
                <th>Сервисная компания</th>
                <th>№ заказ-наряда</th>
                <th>Дата заказ-наряда</th>
                <th>Описание работ</th>
                <tmp>Действия</tmp>
        </tr>
        <tr>
                <td>{{ maintenance.id }}</td>
                <td>{{ maintenance.maintenance_type }}</td>
                <td>{{ maintenance.maintenance_date }}</td>
                <td>{{ maintenance.machine.machine_model }}</td>
                <td>{{ maintenance.worked_hours_time }}</td>
                <td>{{ maintenance.maintenance_organization.name }}</td>
                <td>{{ maintenance.service_company.name }}</td>
                <td>{{ maintenance.order_number }}</td>
                <td>{{ maintenance.order_date|date:'Y-m-d / H:i:s' }}</td>
                <td>{{ maintenance.maintenance_description }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <a href="{% url 'machines_list' %}" style="color: #0055ff">К списку машин</a>
    <br>
    <p style="color:#ff0000">End template maintenance.html</p>

{% endblock content %}
