{% extends 'base/default.html' %}
{% load static %}

{% block title %}Todo page (вкладка в браузере){% endblock title %}

{% block content %}
<div class="todo-window">
    <h3>Надо сделать:</h3>
    <br>
    <ul style="color: #000088">
        <li style="color: #ff0000">Пункт №1: Куча отдотипных страниц это тупик, нужна одна, где переключаются модели (группы моделей) (скрытая фильтрация данных в них по уровню пользователя и его организации, явная - выбор "интересующей области" из списка). Плюс куча однотипных ссылок, может их в заголовки таблиц вынести? Но их желательно использовать для порядка фильтрации по данному полю (прямой/обратный).</li>
        <li style="color: #ff0000">Проверка на вложенность и автоматическая (если позволяют права) подстановка ссылок вместо текста (ссылки с этим текстом).</li>
        <li style="color: #ff0000">Ошибка с паролем в админке (инвалидный, если задавать для модели проекта, приходится пользоваться специальной формой для изменения).</li>
        <li style="color: #ff0000">Форма фильтрации не выводится...</li>
        <li style="color: #ff0000">Не победил ошибку при LogOut на сайте (с Админкой Ок)</li>
        <li style="">Опция у менеджеров: проверка наличия (и хэш-суммы) файла обновлений
        (тут как раз окно просмотра и уместно <iframe src="{% static 'demo.py' %}" class="frame1">Specification</iframe>).
            И переход к "записи" (предзаполненная форма). ??Выбор записи по
        списку ключей в Content (вывод в выпадающий список?). Тогда по каждому надо и хранить отметки
        "обработано"/"не обработано"... После того как весь файл обработан перенос в папку Accepted, или
        если "забракован" то в Rejected.</li>
        <li style="">Проверка загруженных файлов-спецификаций: наличие указанных объектов (включая влложенность), по
            корректности принятых данных, по новизне (в случае дублирования) с автоматическим отсевом. ?Общая индексация
            для всех файлов?</li>
        <li style="">Содержимое папки Static доступно из адресной строки... Что не хорошо...</li>
        <li style="">(См п.№1) У менеджеров, кроме основных таблиц (Machine, Maintenance, ClaimInfo) еще и End_Users +? Clients + Service_Companies + Maintenance_organization + куча справочников!!!.</li>
        <li style="">Еще по узлам (в файлах спецификаций, а может и в моделях пригодится): поле "ссылка на документацию".</li>
        <li style="">По функции снимка БД в Excel: если файла нет, то просто залить всё, если есть: поиск листа, для
            Машины (обновление) - поиск по номеру, для ТО (если строка имеет различия - запись новой): - номер машины
            + номер заказа-наряда, для "Рекламаций" (если строка имеет различия - запись новой): номер машины + дата
            отказа. Как вариант просто делать снимок с текущей датой-временем в имени файла. Вопрос кто потом чистить будет...</li>
        <div style="color: #aaaaaa">На будущее...</div>
        <li style="color: #aaaaaa">Для всех пользователей сохранение последней посещенной страницы (стартовать с нее),
            а так же запоминать куда делается первый переход (отдельный лог "пользователь-группа-первый переход). Чтобы
            выяснить, какую страницу стоит делать стартовой.</li>
        <li style="color: #aaaaaa">Логировать изменения вносимые в БД с сохранением изменяемого значения.</li>
        <li style="color: #aaaaaa">Логирование пользователей, их действий в деталях, фиксация сделанных изменений
            (желательно в виде место изменения + "было"-"стало" + кем сделано). В том же ключе и логирование
            атоматических действий.</li>
        <li style="color: #aaaaaa">У машин и организаций задать поле: hidden=N (показать только пользователям с
            совпадающими номерами).</li>
    </ul>
    <br>
    <a href="{% url 'todo' %}" download>download todo</a>
</div>
{% endblock content %}
